@*
    drag button with sensor and device
*@
@{
}
@model FYP_WEB_APP.Models.SensorsListModel

<link rel="stylesheet" href="~/css/dragButton.css">
<script>$(function () {
        $(".draggable").draggable({

            drag: function () {
                //var position = $(this).position();
                //$('#posx').text('px: ' + position.left);
                //$('#posy').text('py: ' + position.top);

            }
        });
    });</script>

<div class="draggable ui-widget-content TSensor">
    <p>@Model.sensorId<snap> - @Model.sensor_name</snap></p>
    <p>@Model.current_Value</p>
</div>