@page
@{
}
<div class="card text-white bg-secondary mb-3" style="max-width: 300px;">
    <div class="card-header" style="padding-bottom:0">
        <p><b>Room infrared thermal imaging</b></p>
    </div>
    <img id="IRCAMimg" src="http://47.56.85.130:18888/simg?n=f348" />
</div>
