@using Microsoft.AspNetCore.Http
@model FYP_APP.Models.MongoModels.MongoUserModel

@{
    //var user = Context.Session.Get<MongoUserModel>("user");
    var userName = Context.Session.GetString("userName");
    var isLogin = false;
}

@if (userName == null)
{
    isLogin = false;
}
else
{
    isLogin = true;
}

<head>
    <link rel="shortcut icon" href="~/img/icon/iconT36.ico" type="image/x-icon">
    <link rel="icon" href="~/img/icon/iconT36.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/callout.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!--<script src="~/js/bootstrap/jquery.min.js"></script>-->
    <script src="~/js/jquery/jquery-3.5.1.min.js"></script>
    <script src="~/js/bootstrap/popper.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/js/Chart/Chart.min.js"></script>
    <script src="~/js/heatmap/heatmap.js"></script>
    <script src="~/js/heatmap/heatmap.min.js"></script>


    <script src="~/js/jquery/jquery-ui-1.12.1/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            resizeNav();
            $(window).resize(function () {
                resizeNav();
            });
            $('.navbar-nav .nav-link').removeClass('active');
        });
        function resizeNav() {
            $("#nav2").css({ "margin-top": $("#nav1").height() });
        }
    </script>
    <style>

        #perloaddiv {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background-image: url("http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_11.gif");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-color: #fff;
        }
    </style>
</head>
<style>

    .nav-link {
        margin-right: 20px;
    }
</style>

<header>

    <nav class="statusBar navbar navbar-expand-lg py-0 py-md-0 navbar-dark fixed-top" id="nav1">
        <ul class="navbar-nav mr-auto" id="partialView">
        </ul>
        <script>

            $(document).ready(function () {
                $("#partialView").load('@Url.Action("Weather","Weather")');
            });
        </script>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="~/img/icon/user24.png">
                    <span id="userName" class="statusTxt">
                        @if (userName != null)
                        {
                            <span>@userName</span>
                        }
                        else
                        {
                            <span>Login</span>
                        }

                </a>
            </li>
            <!--
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <img src="~/img/icon/world24.png">
                    <span id="language" class="statusTxt">EN</span>
                </a>

        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">EN</a>
            <a class="dropdown-item" href="#">CN</a>
        </div>

                </li>
            -->
            <!--
    <li class="nav-item">
        <a class="nav-link" href="#">

            <img src="~/img/icon/bell24.png">
        </a>
    </li>
        -->

            <li class="nav-item">
                <a class="nav-link" href="~/Administration/UserSetting">
                    <img src="~/img/icon/settings24.png">
                </a>
            </li>
        </ul>
    </nav>


    <nav class="headerarea navbar navbar-expand-lg navbar-dark bg-dark text-white" id="nav2">
        <a class="navbar-brand" href="~/Home/DashBoard"><img src="~/img/icon/logoT36.png" height="40px"><span id=""></span> </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item " id="index">
                    <a class="nav-link" href="~/Home/Dashboard">Home</a>
                </li>
                <li class="nav-item" id="Devices">
                    <a class="nav-link " href="~/Devices/Devices">Devices</a>
                </li>
                <li class="nav-item" id="Sensors">
                    <a class="nav-link " href="~/Sensors/Sensors">Sensors</a>
                </li>
                <li class="nav-item" id="Rooms">
                    <a class="nav-link  " href="~/Rooms/Rooms">Rooms</a>
                </li>
                <li class="nav-item" id="Schedule">
                    <a class="nav-link  " href="~/Schedules/Schedules">Schedules</a>
                </li>
                <li class="nav-item" id="administration">
                    <a class="nav-link  " href="~/Administration/Login">Administration</a>
                </li>
            </ul>
        </div>
        <script>
            $('.nav-item').removeClass('active');

            $('#@ViewData["Title"]' ).addClass('active');

        </script>
    </nav>
</header>

<body>
    @RenderBody()
</body>
