@*
    room detail page
    Sensor and Device detail
    bg-dark
*@

    
        <div id="detailDiv" class="card text-white bg-dark mb-3" style="max-width: 30rem;">
            <div class="card-header" style="padding-bottom:0">
                <h4>
                    <p style="padding:0">
                        <b id="typeName">Sensor and Device Detail</b>
                        <img id="onOff" class="float-right mt-1" style="width: 24px;" src="~/img/icon/power-button-on36.png" display="inline" />
                    </p>
                    
                </h4>
            </div>
            <div class="card-body" style="margin-top:-20px">
                <button id="editBtn" class="btn btn-info mt-0 px-0 mr-1 float-right" type="button" style="width: 80px; height: 40px">
                    <img src="~/img/icon/edit32_white.png" style="height: 24px;width:24px;">
                    <snap class="text-white">Edit</snap>
                </button>
                <h5 class="ard-text py-2"  id="sdid" ><b>--</b></h5>
                <h3 class="card-title">
                    <img id="typeImg" class="mr-2" style="width: 64px;" src="~/img/icon/air-conditioner96.png" />
                    <b id="current_value"> -- </b>
                </h3>
                <p class="card-text">
                    <img style="width: 24px;" src="~/img/icon/lighting32.png" />
                    <b id="totalPower">--</b> -
                    <snap class="card-text"><small id="avgPower"> Avg: 9kw / dy</small></snap>
                </p>
                <a id="turnOnOff" class="badge badge-pill badge-danger" href="#" style="font-size: 14px">--</a>
                <p class="card-text"><small id="lastUpdateTimes">--</small></p>
                <!--
            <p class="card-text"><b>Log</b></p>
            <p class="card-text">01-02-2020 11:00:00 <b>25C</b></p>
            <p class="card-text"><small>Last modifly on 02-02-2020</small></p>
                -->
            </div>
        </div>
    

