@*
    room detail page
    Sensor and Device detail
    bg-dark
*@

    
        <div id="detailDiv" class="card text-white bg-dark mb-3" style="max-width: 30rem;">
            <div class="card-header" style="padding-bottom:0">
                <h4>
                    <p style="padding:0">
                        <b id="typeName">Sensor and Device Detail</b>
                        <img id="onOff" class="float-right mt-1" style="width: 24px;" src="~/img/icon/power-button-on36.png" display="inline" />
                    </p>
                    
                </h4>
            </div>
            <div class="card-body" style="margin-top:-20px">
                <button id="editBtn" class="btn mt-0 px-0 float-right" type="button" style="width: 40px; height: 40px; padding-left:10px">
                    <img src="~/img/icon/edit32_white.png" style="height: 24px;width:24px;">
                </button>
                <h5 class="card-text py-2" id="sdid"><b>--</b></h5>
                <p class="card-text">Description: <snap id="desc">**</snap></p>
                <h3 class="card-title">
                    <img id="typeImg" class="mr-2" style="width: 64px;" src="~/img/icon/air-conditioner96.png" />
                    <b id="current_value"> -- </b>
                    <snap class="float-right">
                        <img style="width: 24px;" src="~/img/icon/efficiency96.png" />
                        <b id="device_power" style="font-size:12px">--</b>
                    </snap>
                </h3>
                <p class="card-text">
                    <img style="width: 24px;" src="~/img/icon/lighting32.png" />
                    <b id="totalPower">--</b>
                    <snap class="card-text"><small>📊 Avg <b id="avgPower">--</b> / dy</small></snap>
                </p>
                <p class="card-text">🕝Turned on-<b id="turnOnTime">--</b>hr ⚡Period Usage-<b id="turnedOnUsage">--</b>kW </p>


                <a id="turnOnOff" class="shadow badge badge-pill badge-danger" href="#" style="font-size: 14px">--</a>
                <p class="card-text" style="margin-bottom:2px; margin-top:10px">🔄 Last update - <b id="lastUpdateTimes">--</b></p>
                <p class="card-text">📅Turned on   - <b id="turnOnDate">--</b></p>

                <!--
    <p class="card-text"><b>Log</b></p>
    <p class="card-text">01-02-2020 11:00:00 <b>25C</b></p>
    <p class="card-text"><small>Last modifly on 02-02-2020</small></p>
        -->
            </div>
        </div>
    

