
@{
    ViewData["Title"] = "Rooms";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/style.css">

    <script src="~/js/Chart.min.js"></script>
    <!--https://www.chartjs.org/-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/heatmap.js"></script>
    <script src="~/js/heatmap.min.js"></script>
    <script src="~/js/prism.js"></script>
    <!--loading js-->
    <script src="~/js/modernizr.js"></script>
    <script src="~/js/jquery-2.2.4.min.js"></script>
    <!--loading js-->

    <title>Rooms List</title>
    <script>
      $(document).ready(function(){
          //navbar ui
          $('.navbar-nav .nav-link').removeClass('active');
          $("#rooms").addClass('active');

         
      });

      //$(window).load(function() {
      //  // Animate loader off screen
      //  $(".se-pre-con").fadeOut("fast");
      //});
    </script>
</head>


<body class="">

    <!--body-->
  
</body>


