

.statusBar {
    background-color: black;
    
}
.statusTxt{
    color: white;
}


/**********************header******************/
.headerarea{
    padding: 0px;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0.2px 0.2px #000;
    color: white;
}

.headerarea a:hover{
    font-weight: bolder;
    color: floralwhite;
}

/***********map*********/

.demo-wrapper {
    position: relative;
}
.demo-wrapper {
    background: rgba(0,0,0,.03);
    border-style: solid;
    border-color: #000000;
    margin: 0px;
    padding: 0px;
}

.heatmap {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.tooltips {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.8);
    color: white;
    font-size: 14px;
    padding: 5px;
    line-height: 18px;
    display: none;
}
.legend-area {
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background: white;
    outline: 3px solid black;
    line-height: 1em;
}
.heatmap-canvas{
    width: 100%;
    height: 100%;
}
span {
    font-size: 14px;
    margin: 0;
    padding: 0;
}
#max {
    float: right;
}

