
@{
    ViewBag.Title = "Dashboard Page";
    Layout = null;

    var date = ViewBag.Date;
    var student = ViewBag.Student;
    var list = ViewBag.List;
    Layout = "_Layout";

    

   
}

<head>
    <link rel="stylesheet" href="~/css/style.css">

    <script src="~/js/Chart.min.js"></script>
    <!--https://www.chartjs.org/-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/heatmap.js"></script>
    <script src="~/js/heatmap.min.js"></script>
    <script src="~/js/prism.js"></script>
    <!--loading js-->
    <script src="~/js/modernizr.js"></script>
    <script src="~/js/jquery-2.2.4.min.js"></script>
    <!--loading js-->

    <title>InB</title>
    <script>

        $(document).ready(function () {
            //navbar ui
            $('.navbar-nav .nav-link').removeClass('active');
            $("#index").addClass('active');

            //<!--loading js-->

        });

        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("fast");
        });
    </script>
</head>

@ViewBag.userName
<!--loading page graphic-->
<div class="se-pre-con"></div>
<!--loading page graphic-->
<!--header-->
<!--<script src="header.js"></script>-->
<!--header-->

<div class="">
    <div class=" bg-light p-3">
        <div class="container-fluid">
            <div class="container-fluid ">
                <dt class=" h2"><b>Overall Usage</b></dt>
            </div>
            <div class="row ">
                <div class=" col-xl-4 col-sm">
                    <div class="card mb-3 shadow-sm h-100 p-3 justify-content-center align-items-center  ">
                        <canvas id="PowerUsageChart" class=""></canvas>

                    </div>
                </div>

                <div class=" col-xl-4 col-sm">
                    <div class="card mb-3 shadow-sm h-100 p-3 justify-content-center align-items-center">
                        <canvas id="UsageTimeChart" class=""></canvas>
                    </div>
                </div>

                <div class=" col-xl-4 col-sm">
                    <div class="">
                        <div class="card mb-3 shadow-sm px-3 pt-3 pb-0">
                            Total Savings

                            <div class="text-right h2">
                                2000 KW-h
                            </div>

                        </div>
                    </div>
                    <div class="">
                        <div class="card mb-3 shadow-sm px-3 pt-3 pb-0 w-100">
                            Total Usage

                            <div class="text-right h2">
                                2000 KW-h
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="card  shadow-sm px-3 pt-3 pb-0 ">
                            <div class="">
                                <div class=" d-flex flex-row ">
                                    <div class=" mb-4  w-50 ">
                                        Air Conditioning
                                    </div>
                                    <div class=" mb-4  w-25 text-right">1,000,000 </div>
                                    <div class=" mb-4  w-25 text-right">KW-h</div>
                                </div>
                            </div>
                            <div class="">
                                <div class=" d-flex flex-row">
                                    <div class=" mb-4  w-50 ">
                                        Light
                                    </div>
                                    <div class=" mb-4  w-25 text-right">500,000 </div>
                                    <div class=" mb-4  w-25 text-right">KW-h</div>
                                </div>
                            </div>
                            <div class="">
                                <div class=" d-flex flex-row">
                                    <div class=" mb-4  w-50 ">
                                        Other
                                    </div>
                                    <div class=" mb-4  w-25 text-right">500,000 </div>
                                    <div class=" mb-4  w-25 text-right">KW-h</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>

    </div>
    <div class=" bg-light p-3">

        <div class="col-md ">
            <div class="card shadow-sm w-100 h-100 p-3 justify-content-center align-items-center flex-row flex-wrap">
                <div class="col-xs-12 col-md-8 pt-4 w-100 px-0">

                    <canvas id="UsageRecordChart"></canvas>
                </div>
                <div class=".col-xs-6 col-md-4 pt-4 w-100 px-0">

                    <canvas id="NumberOfDevicesChart"></canvas>
                </div>

            </div>
        </div>
    </div>
</div>
<!--chart js-->
<script>
    var chartID = '';
    var charttitle = '';
    var chartType = '';
    var position = '';
    var devices = [];
    var devicesData = [];
    var gcolor = [];
    var gdata;
    var goption;

    getPowerUsageDate();
    var devices = [];
    var devicesData = [];
    var gcolor = [];
    getUsageTimeData();
    var devices = [];
    var devicesData = [];
    var gcolor = [];
    getUsageRecordData();
    var devices = [];
    var devicesData = [];
    getNumberOfDevicesData();


    async function getUsageRecordData() {

        charttitle = 'Devices Power Usage Record';

        chartID = 'UsageRecordChart';
        chartType = 'line';
        position = 'bottom';
        devices.push('deviceA');
        devices.push('deviceB');
        devices.push('deviceC');
        var day = [];
        var i;
        for (i = 0; i < 30; i++) {
            day.push(i);
        }

        devices.forEach(getRandomColor);
        //set chart data
        dataop = {
            labels: day,
            datasets: [{
                label: devices[0],
                borderColor: gcolor[0],
                fill: false,
                data: [65, 59, 80, 81, 56, 55, 40, 50, 60, 55, 30, 78],
            }, {
                label: devices[1],
                borderColor: gcolor[1],
                fill: false,
                data: [10, 20, 60, 95, 64, 78, 90, 80, 70, 40, 70, 89],
                spanGaps: false,
            }, {
                label: devices[2],
                borderColor: gcolor[2],
                fill: false,
                data: [30, 20, 80, 50, 64, 78, 100, 40, 50, 40, 75, 90],
                spanGaps: false,
            }

            ]
        };
        //set chart option
        goption = {
            title: {
                display: true,
                text: charttitle,
                fontSize: 25
            },
            legend: {
                display: true,
                position: position,
                labels: {
                    boxWidth: 20,
                    fontColor: '#111',
                    padding: 15
                }
            }
        };
        draw();

    }
    //--------------------------------------------------------------------------------------------
    async function getUsageTimeData() {

        charttitle = 'Usage Time';

        chartID = 'UsageTimeChart';
        chartType = 'doughnut';
        position = 'right';
        devices.push('Light');
        devices.push('Other');
        devices.push('Air conditioning');
        devices.push('off');
        devicesData.push(30);
        devicesData.push(20);
        devicesData.push(50);
        devicesData.push(50);

        devices.forEach(getRandomColor);
        //set chart data

        dataop = {
            labels: devices,
            datasets: [{
                label: devices,
                data: devicesData,
                backgroundColor: gcolor,
                borderWidth: 1,
                borderColor: '#777',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'

            }]
        };
        //set chart option

        goption = {
            responsive: true,

            title: {
                display: true,
                text: charttitle,
                fontSize: 25
            },
            legend: {
                display: true,
                position: position,
                labels: {
                    boxWidth: 20,
                    fontColor: '#111',
                    padding: 15
                }
            }


        };
        draw();

    }

    async function getPowerUsageDate() {

        chartID = 'PowerUsageChart';
        charttitle = 'Power Usage';
        chartType = 'doughnut';
        position = 'right';

        devices.push('Light');
        devices.push('Other');
        devices.push('Air conditioning');
        devicesData.push(30);
        devicesData.push(20);
        devicesData.push(50);
        devices.forEach(getRandomColor);
        //set chart data

        dataop = {
            labels: devices,
            datasets: [{
                label: devices,
                data: devicesData,
                backgroundColor: gcolor,
                borderWidth: 1,
                borderColor: '#777',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'

            }]
        };
        //set chart option

        goption = {
            responsive: true,

            title: {
                display: true,
                text: charttitle,
                fontSize: 25
            },
            legend: {
                display: true,
                position: position,
                labels: {
                    boxWidth: 20,
                    fontColor: '#111',
                    padding: 15
                }
            }


        };


        draw();

    }
    async function getNumberOfDevicesData() {

        chartID = 'NumberOfDevicesChart';
        charttitle = 'Number Of Devices';
        chartType = 'horizontalBar';
        position = 'top';

        devices.push('deviceA');
        devices.push('deviceB');
        devices.push('deviceC');
        devicesData.push(10);
        devicesData.push(20);
        devicesData.push(25);
        devices.forEach(getRandomColor);
        //set chart data

        dataop = {
            labels: devices,
            datasets: [{
                data: devicesData,
                backgroundColor: gcolor,
                borderWidth: 1,
                borderColor: '#777',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000',
                spanGaps: false

            }


            ]
        };
        //set chart option

        goption = {
            responsive: true,

            title: {
                display: true,
                text: charttitle,
                fontSize: 25
            },
            legend: {
                display: false
            }, scales: {
                yAxes: [{
                    display: false
                }]
            }


        };

        draw();

    }
    //---------------------------------------------------------------------------------
    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        gcolor.push(color);
    }

    function draw() {

        let myChart = document.getElementById(chartID).getContext('2d');
        // Global Options
        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#777';


        let barChart = new Chart(myChart, {
            type: chartType,//bar,horizontalBar,pie,line,doughnut,radar,polarArea
            data: dataop,
            options: goption
        });
    }
            //--------------------------------------------------------------------------

</script>
<!--chart js-->
